.res-card {
  

  width: 200px;
  background-color: #f0f0f0;
  padding: 6px;
  margin: 10px;
  height: 345px;
}
.res-card:hover {
  box-shadow: 5px 5px 5px 5px #f0f0f0;
  cursor: pointer;
}
.resImage {
    width: 190px;
    height: 130px;
  }



.font14 {
  font-size: 14px;
  margin: 4px 0;
}

.font14[style] {
  font-weight: bold;
}

h4,
h5 {
  margin: 2px !important;
  padding: 5px !important;
}
